@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
    background: #f12711;  /* fallback for old browsers */
    background: linear-gradient(135deg, #ff4013,#ff6a00,#7b219f);
    min-height: 100vh;
    display: flex;
    background-size: 200% 200%;
    overflow:hidden;

    font-family: "Prompt", sans-serif;

    animation: gradient 20s linear infinite;
}

@keyframes gradient {
  0% {
      background-position: 0 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0 50%;
  }
}

.center {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
  width: 250px;
  display: flex;
  background: none;
  padding: 40px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 12px 0px #3f383d;
  border-radius: 25px;
}

.avatar {
  margin-bottom: 10px;
}

.avatar img {
  width: 7em;
  border-radius: 50%;
  box-shadow: 0 0px 18px 0 #3f383d;
  outline-style: solid;  
  outline-color: white;
}

.title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    color: white;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

.subtitle {
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    color: white;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
    margin-bottom: 40px;

}

.btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Расстояние между кнопками */
}


.btn {
  cursor: pointer;

  background-color: #fff3;
  outline: none;
  border: none;
  border-radius: 10px;
  font-weight: 400;
  color: white;
  font-family: "Prompt", sans-serif;

  display: inline-flex;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 16px;

  transition: .2s;
}

.btn:hover {
  background-color: #fff5;
}

.footer {
  position: absolute;
  bottom: 5px;
}

.footer a {
  color: white;
  font-weight: 300;
}

.player {
  position: fixed;
  top: 5px;
  color: white;
  font-size: 18px;
  text-align: center;
}

.song-buttons {
  scale: 125%;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.song-buttons svg {
  cursor: pointer;
}